{% extends 'SProvider/design1.html' %}
{% block researchblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 1104px;
    height: 442px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style4 {color: #FFFF00; font-weight: bold; }
        .style5 {color: #FFFF00}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">VIEW ALL CLICK FRAUDS  !!! </p>
                            <hr>
                            <div class="tweettext">
                                 <table border="5" bordercolor="#FF00FF">
                      <tr><td bgcolor="#FF0000"><span class="style8">App Namee</span></td>
                      <td bgcolor="#FF0000"><span class="style8">App Desc</span></td>
                          <td bgcolor="#FF0000"><span class="style8">Allowed Clicks</span></td>
                          <td bgcolor="#FF0000"><span class="style8">User Name</span></td>
                          <td bgcolor="#FF0000"><span class="style8">System Ip Address</span></td>
                          <td bgcolor="#FF0000"><span class="style8">Clicked DT</span></td>
                          <td bgcolor="#FF0000"><span class="style8">No Of Time Clicked</span></td>


                      </tr>
                            {% for object in list_objects %}
                      <tr>
                                        <td style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.names}}</div></td>
                                        <td style="font-family:monospace; font-size:19px;  "><div align="center">{{object.App_Desc}}</div></td>

                                        <td  bgcolor="#FF00FF" style="font-family:monospace; font-size:19px; "><div align="center">{{object.Allowed_Clicks}}</div></td>
                                        <td style="font-family:monospace; font-size:19px; "><div align="center">{{object.User_Name}}</div></td>
                                        <td style="font-family:monospace; font-size:19px; "><div align="center">{{object.System_IP_Address}}</div></td>
                                        <td bgcolor="#FF0000" style="font-family:monospace; font-size:19px; "><div align="center">{{object.Clicked_DT}}</div></td>
                                        <td style="font-family:monospace; font-size:19px; "><div align="center">{{object.No_Of_Time_Clicked}}</div></td>


                                  </tr>

                                        {% endfor %}
                      </table>

                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>